@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.display{
  display: flex;
}

#answer1, #answer2, #answer3{
    width: 400px;
    height: 200px;
}
#main{
    width: 500px;
    height:500px;
}
.empty{
  margin-top: 50px;
}
.head{
  margin-top: 20px;
  margin-bottom: 20px;
}
.tag{
  margin-left: 10px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.alert{
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.descriptionImg{
  width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}